.wrapper{
  min-height: 100vh;
  .trading{
    padding: 78px 0 0 0;
    .container{
      h2{
        padding: 0px 0 10px 9px;
        font-size: 51px;
        line-height: 50px;
        font-family: 'Akrobat - Regular';
        color: #1d7093;
        font-weight: 700;
      }
      p{
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        padding: 4px 0 20px 12px;
        font-family: 'Roboto-Regular';
        color: #97afc0;
      }
      .table{
        margin: 60px 0 0 13px;
        h3{
          color: #1d7093;
          font-family: 'Roboto-Regular';
          font-size: 30px;
          font-weight: 400;
          span{
            font-family: "Roboto Slab";
            font-size: 14px;
            font-weight: 500;
            line-height: 30px;
            margin: 0 0 0 14px;
            color: #b4d4ea;
          }
        }
        .about{
          padding: 4px 0 20px 32px;
          line-height: 26px;
          font-size: 16px;
          color: #1d93bf;
          font-family: 'Roboto-Bold';
        }
        .table_box{
          overflow: auto;

          table{
            margin: 13px 5px 9px;
            box-shadow: 0 0 8px rgba(0,17,26,.23);
            border-radius: 25px;
            width: 555px;
            tr{
              &.top{
                background-image: linear-gradient(to right, #2a84d0 0%, #8efeff 100%);
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                display: block;

              }
              &.bottom{
                background-color: #f2f3f3;
                border-bottom-left-radius: 25px;
                display: block;
                border-bottom-right-radius: 25px;
              }
              th{
                min-width: 150px;
                border-right: 1px solid #ffffff;
                &:last-child{
                  border-right: none;
                }
                h5{
                  color: #ffffff;
                  font-family: 'Roboto-Regular';
                  font-size: 14px;
                  font-weight: 400;
                  text-align: center;
                  padding: 9px 20px;
                }
              }
              td{
                min-width: 150px;
                border-right: 1px solid #ffffff;
                &:last-child{
                  border-right: none;
                }
                p{
                  font-family: 'Roboto-Regular';
                  font-size: 14px;
                  font-weight: 400;
                  width: auto;
                  color: #7a7a7a;
                  padding: 11px 20px 11px 20px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1280px){

}