<footer class="footer">
    <div class="container">
        <a href="index.html" class="logo"><img src="img/logo.png"></a>
        <p>
            A digital advertising solution powered by
            artificial intelegence and increased
            user privacy
        </p>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#anchor" class="down">About us</a></li>
            <li><a href="opportunities.html">Opportunities</a></li>
            <li><a href="trading.html">Ad trading reports and platform news</a></li>
            <li><a href="help.html">Help center</a></li>
        </ul>
    </div>
</footer>