<header class="header">
    <div class="container">
        <a href="index.html" class="logo"><img src="img/logo.png"></a>
        <div class="overlay">
            <nav class="overlayMenu">
                <ul role="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#anchor" class="down">About us</a></li>
                    <li><a href="opportunities.html">Opportunities</a></li>
                    <li><a href="trading.html">Ad trading reports and platform news</a></li>
                    <li><a href="help.html">Help center</a></li>
                </ul>
            </nav>
        </div>
        <div class="navBurger" role="navigation" id="navToggle"></div>
        <div class="btn_block">
            <a href="#"class="sign-form">Login</a><a href="#"class="Account-form">Sign Up</a>
        </div>
        <div class="user">
            <div class="click">
                <div class="img"></div>
                <p class="links">Username<i class="icon-down-dir"></i></p>
            </div>
            <ul class="sub">
                <li><a href="account.html" >Account settings</a></li>
                <li><a href="#" >Logout</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="home_header">
    <div class="container">
        <ul>
            <li><a href="account.html">Homepage</a></li>
            <li><a href="finance.html">Finance</a></li>
            <li><a href="partners.html">Partners</a></li>
            <li><a href="shares.html">ADV Shares</a></li>
            <li><a href="trading.html">News</a></li>
        </ul>
    </div>
</section>
