<div class="signPopup animated ">
    <div class="close"></div>
    <div class="sign__popup ">
        <div class="content">
            <div class="block_form">
                <img src="img/logo.png">
                <h2 class="title">Sign In</h2>
                <form>
                    <div class="input_box">
                        <label>Login</label>
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input_box">
                        <label>Password</label>
                        <input type="text" placeholder="Password">
                    </div>
                    <a href="#" class="password">Forgot Password?</a>
                    <div class="button_box">
                        <button class="signIn">Sign in</button>
                        <button class="chancel">Chancel</button>
                        <div class="registration">
                            <p>Don’t have an account?</p>
                            <button class="account">Create an Account</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="AccountPopup animated">
    <div class="close"></div>
    <div class="Account__popup ">
        <div class="content">
            <div class="block_form">
                <img src="img/logo.png">
                <h2 class="title">Create an Account</h2>
                <form>
                    <div class="input_box">
                        <label>Email</label>
                        <input type="text" placeholder="Email here">
                    </div>
                    <div class="input_box">
                        <label>Login</label>
                        <input type="text" placeholder="Login here">
                    </div>
                    <div class="input_box">
                        <label>Password</label>
                        <input type="text" placeholder="Password">
                    </div>
                    <div class="input_box">
                        <label>Repeat password</label>
                        <input type="text" placeholder="Password">
                    </div>
                    <div class="button_box">
                        <button class="signIn">Sign in</button>
                        <button class="chancel">Chancel</button>
                        <div class="registration">
                            <p>Already have an account?</p>
                            <button class="account">Sign in</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="recoveryPopup animated">
    <div class="close"></div>
    <div class="recovery__popup ">
        <div class="content">
            <div class="block_form">
                <img src="img/logo.png">
                <h2 class="title">Account recovery</h2>
                <form>
                    <div class="input_box">
                        <label>Email</label>
                        <input type="text" placeholder="Email here">
                    </div>
                    <div class="button_box">
                        <button class="signIn">Apply</button>
                        <button class="chancel">Chancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="validPopup animated">
    <div class="close"></div>
    <div class="valid__popup ">
        <div class="content">
            <div class="block_form">
                <img src="img/logo.png">
                <h2 class="title">Create an Account</h2>
                <p>A confirmation email was sent to your inbox</p>
                <a href="#" class="Confirm">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="valid2Popup animated">
    <div class="close"></div>
    <div class="valid2__popup ">
        <div class="content">
            <div class="block_form">
                <img src="img/logo.png">
                <h2 class="title">Account recovery</h2>
                <p>A confirmation email was sent to your inbox</p>
                <a href="#" class="Confirm">Confirm</a>
            </div>
        </div>
    </div>
</div>